Automate Email Filtering & AI Summarization. 100%  Nasir Sharif.json
{
  "name": "Automate Email Filtering & AI Summarization. 100% free & effective, works 7/24  2",
  "nodes": [
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18oWkiBh1_O2ArAkksElqeVkMGjUGCuoFPfoJ16L7pAI/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "YOUR_GOOGLE_SHEETS_URL",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sender Name": "={{ $('info1').item.json[\"Sender Name\"] }}",
            "Sender Email": "={{ $('info1').item.json[\"Sender Email\"] }}",
            "Subject": "=\t{{ $('info1').item.json.Subject }}",
            "Content": "={{ $('AI Agent1').item.json[\"output\"] }}\n\n"
          },
          "matchingColumns": [
            "Sender Name"
          ],
          "schema": [
            {
              "id": "Sender Name",
              "displayName": "Sender Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sender Email",
              "displayName": "Sender Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "75cc1f51-da2d-411a-bd64-7c574c5d5d11",
      "name": "Log to Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1728,
        288
      ],
      "typeVersion": 4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eDwCy67WvgmEOPpg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please read this email \"{{ $json.Content }}\" and provide a very short, concise summary containing only the most important information. Keep the summary as brief as possible without losing essential details. ",
        "options": {}
      },
      "id": "b5d3d06e-116f-4c40-bbd0-c22cd622af96",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1200,
        288
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "CATEGORY_PERSONAL"
          ]
        },
        "options": {
          "downloadAttachments": false
        }
      },
      "id": "a69f2251-947b-444c-b314-d510870b6583",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        624,
        288
      ],
      "typeVersion": 1,
      "credentials": {
        "gmailOAuth2": {
          "id": "nyOuMtrG01ChOiYH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "id": "eab995bb-43bf-4c23-9cc1-41b80a9deb0a",
      "name": "Groq Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "position": [
        976,
        592
      ],
      "typeVersion": 1,
      "credentials": {
        "groqApi": {
          "id": "6iLOMMz66nzWzhXk",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const emailData = item.json;\n  \n  // Handle sender information (unchanged)\n  let senderEmail = '';\n  let senderName = '';\n\n  if (emailData.from?.value?.[0]) {\n    senderEmail = emailData.from.value[0].address || '';\n    senderName = emailData.from.value[0].name || senderEmail;\n  } else if (emailData.from?.text) {\n    const emailMatch = emailData.from.text.match(/<([^>]+)>/) || \n                      emailData.from.text.match(/([^\\s]+@[^\\s]+)/);\n    senderEmail = emailMatch ? emailMatch[1] : emailData.from.text;\n    \n    const nameMatch = emailData.from.text.match(/^([^<]+)/);\n    senderName = nameMatch ? nameMatch[1].trim().replace(/\\\"/g, '') : senderEmail;\n  }\n\n  // Format date (unchanged)\n  const receivedDate = new Date(emailData.date || emailData.receivedTime);\n  const formattedDate = receivedDate.toLocaleString('en-US', {\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: true\n  });\n\n  // FIXED CONTENT EXTRACTION\n  let emailContent = '';\n  \n  // 1. First priority: Plain text version\n  if (emailData.text) {\n    emailContent = emailData.text;\n  } \n  // 2. Second priority: HTML version (convert to plain text)\n  else if (emailData.html) {\n    emailContent = emailData.html\n      .replace(/<style[^>]*>.*?<\\/style>/gs, '')  // Remove CSS\n      .replace(/<[^>]*>/g, ' ')                   // Strip HTML tags\n      .replace(/\\s+/g, ' ')                       // Collapse whitespace\n      .trim();\n  }\n  // 3. Fallback to other possible fields\n  else if (emailData.body || emailData.textPlain || emailData.textHtml) {\n    emailContent = emailData.body || emailData.textPlain || emailData.textHtml;\n  }\n\n  // Truncate content if too long\n  const maxContentLength = 5000;\n  if (emailContent.length > maxContentLength) {\n    emailContent = emailContent.substring(0, maxContentLength) + '... [truncated]';\n  }\n\n  // Create row data\n  const rowData = {\n    'Date': formattedDate,\n    'Sender Name': senderName,\n    'Sender Email': senderEmail,\n    'Subject': emailData.subject || 'No Subject',\n    'Content': emailContent,\n    //'Message ID': emailData.messageId || '',\n    'Has Attachments': emailData.attachments?.length > 0 ? 'Yes' : 'No'\n  };\n  \n  items.push({ json: rowData });\n}\n\nreturn items;"
      },
      "id": "d408d58f-c818-4601-8109-f90bb152e381",
      "name": "info1",
      "type": "n8n-nodes-base.code",
      "position": [
        928,
        288
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## 🔑 Step 1: Add Gmail Credentials 👇",
        "height": 304,
        "width": 260,
        "color": 5
      },
      "id": "2bb19466-2a13-48d1-8f9c-be3db440c061",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📧 Step 2: Email Processing Node\n",
        "height": 272,
        "width": 244,
        "color": 5
      },
      "id": "5fef7b17-cca7-4f06-99c0-efe6944b6a48",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        864,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ✍️ Step 4: Customize AI Prompt\n• Default: Short email summary\n• Change tone/formality as needed",
        "height": 420,
        "width": 360,
        "color": 5
      },
      "id": "2ea54fa1-fd79-48ca-854c-14b706cf3315",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🤖 Step 5: AI Configuration\n1. Add Groq API key\n2. Or replace with other AI model\n",
        "height": 220,
        "width": 452,
        "color": 5
      },
      "id": "92c18c6f-3c83-41e0-8757-67455aff44da",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📊 Step 6: Google Sheets Setup\n1. Add Google credentials\n2. Paste Sheet URL\n3. Select target sheet\n4. Columns auto-map to email data",
        "height": 400,
        "width": 500,
        "color": 4
      },
      "id": "56894a8f-5340-43a3-a852-7d4dadbdd376",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1536,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "6319330895",
        "text": "=New email saved to sheet!\nFrom: {{$('info1').item.json[\"Sender Name\"]}}\nSubject: {{$('info1').item.json.Subject}}\nSummary: {{ $('AI Agent1').item.json[\"output\"] }}\n\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2304,
        288
      ],
      "id": "3ae28b7f-516e-4e51-bdec-cd499f317083",
      "name": "Send a text message",
      "webhookId": "491faa8b-29b8-4954-bc26-9c05443f3a04",
      "credentials": {
        "telegramApi": {
          "id": "DdgPrHcMQJcptynR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📊 Step 7: Telegram Bot Notifier\n1. This will notify me on my telegram when the content is summarized and saved to my sheets ",
        "height": 240,
        "width": 500,
        "color": 4
      },
      "id": "fe79f9c3-ec2b-42ae-9c06-11deb088371f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2080,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 📧 : Email Content Summarizer and Notifier Using Telegram Bot - Nasir Sharif \n",
        "height": 80,
        "width": 1316,
        "color": 5
      },
      "id": "7229af3b-8849-4f29-ba55-9679e2d49bbc",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        -16
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "info1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Log to Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "626bb656-35b6-49b2-a1a2-9414898a2a5a",
  "meta": {
    "templateId": "5678",
    "templateCredsSetupCompleted": true,
    "instanceId": "12841ead6d70b42dfcfba06f2979f05ce9de2c896133d9968cab1e5e27cfbf15"
  },
  "id": "BneHFtXAb4lu13vV",
  "tags": []
}